@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;600;700;800&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

html div {
    overflow-x: hidden;
}

.subSection {
    height: 100%;
    width: 100%;
}

.codebox {
    margin-left: 25px;
    margin-right: 25px;
    background-color: rgb(4, 19, 26);
    outline-width: 1.5px;
    outline-color: rgb(60, 81, 90);
    outline-style: solid;
    border-radius: 10px;
}

#titlePersModule {
    color: rgb(222, 245, 255);
    font-size: 25px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    top: -14px;
    position: relative;
    cursor: pointer;
}

.listAsNormalButtons li{
    list-style: none;
    padding-left: 12px;
    color: rgb(169, 229, 255);
    font-weight: 500;
}

.sidebuttons {
    cursor: pointer;
}

.aLine {
    background-color: rgb(126, 135, 145);
    border-radius: 10px;
}

.textLeftLargerSide {
    color: rgb(169, 229, 255);
    padding-left: 12px;
    font-weight: 600;
}

.textLeftSmallerSide {
    color: rgb(150, 199, 219);
    padding-left: 12px;
    font-weight: 500;
}

.listAsNormalButtons {
    padding: 0px;
    top: -13px;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: rgb(36, 50, 65);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(156, 194, 233);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(191, 223, 255);
}

[title] {
    cursor: help;
}